<template>
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div v-if="alert.message" :class="`alert ${alert.type}`">{{alert.message}}</div>
                    <router-view></router-view>
                </div>
            </div>
        </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    name: 'app',
    computed: {
        ...mapState({
            alert: state => state.alert
        })
    },
    methods: {
        ...mapActions({
            clearAlert: 'alert/clear' 
        })
    },
    watch: {
        $route (to, from){
            // clear alert on location change
            this.clearAlert();
        }
    } 
};
</script>
<style>
    .container{
        margin-top: 5%;
    }
    h1, h2, h3, label, p, span, li
    {
        color: #f1f1f1;
    }
    body
    {
        background: #1b1b1b;
    }
</style>